# Hidden files
.directory
.fuse-*
.*.kate-swp
.libmagic-tmp
.libmagic-tmp.bc
.kdev_include_paths
.kdev4/
.DS_Store

# Temp files
*~
*.bak
*.swp
*.swo

# Binary files
*.7z
*.bz2
*.a
*.o
*.dll
*.dll.def
*.dylib
*.exe
*.msi
*.so

# Binary dir
bin/jack/
bin/styles/
build/

# Project files
*.carxp
*.carxs
*.pro.user

# C++ files
*.moc
moc_*.cpp
ui_*.h
resources.*.cpp
qrc_resources.cpp

# Python files
*.pyc
*_rc.py
ui_*.py

# Misc files
*.aria2
*.deb
*.gz
*.meta4
*.tar
*.ttl
*.xz
*.zip

# PyQt widgets
source/canvaspreviewframe.py
source/carla_config.py
source/digitalpeakmeter.py
source/draggablegraphicsview.py
source/ledbutton.py
source/paramspinbox.py
source/pianoroll.py
source/pixmapbutton.py
source/pixmapdial.py
source/pixmapkeyboard.py
source/racklistwidget.py
source/widgets/carla_config.py

# Binaries
carla-bridge-qtcreator
carla-bridge-native
carla-bridge-posix32
carla-bridge-posix64
carla-bridge-lv2-cocoa
carla-bridge-lv2-external
carla-bridge-lv2-gtk2
carla-bridge-lv2-gtk3
carla-bridge-lv2-qt4
carla-bridge-lv2-qt5
carla-bridge-lv2-x11
carla-bridge-vst2-carbon
carla-bridge-vst2-cocoa
carla-bridge-vst2-x11

carla-discovery-qtcreator
carla-discovery-native
carla-discovery-posix32
carla-discovery-posix64

carla-frontend
carla-lv2-export

zita-at1-ui
zita-bls1-ui
zita-rev1-ui
zynaddsubfx-ui

stoat-output.png

data/linux/unzipfx2cat32
data/linux/unzipfx2cat64
data/macos/*-svn/
data/windows/Carla
data/windows/CarlaControl
data/windows/Carla-*-win32/
data/windows/Carla-*-win64/
source/bridges/jackplugin/libjack.so.0
source/frontend/Makefile
source/tests/ansi-pedantic-test_*
source/tests/CachedPlugins
source/tests/CarlaRingBuffer
source/tests/CarlaPipeUtils
source/tests/CarlaString
source/tests/CarlaUtils1
source/tests/CarlaUtils2
source/tests/CarlaUtils3
source/tests/CarlaUtils4
source/tests/Exceptions
source/tests/Print
source/tests/RDF

source/tests/EngineEvents
source/tests/PipeServer
source/tests/RtLinkedList
source/tests/RtLinkedListGnu

# Docs
doc/CarlaBackend/
doc/CarlaBridge/
doc/DISTRHO/

# CX-Freeze builds
source/dist/

# QtCreator builds
*build-*Debug/
*build-*Release/

# python files in plugin resources dir
bin/resources/*.py
source/native-plugins/resources/*.py

# Other
source/includes/asio/
source/includes/rewire/
source/includes/vst2
source/includes/vst3
source/includes/config.h
source/modules/dgl/src/Resources.cpp
source/modules/dgl/src/Resources.hpp
source/modules/dgl/src/resources/
source/modules/dgl/src/sofd/
source/modules/distrho/src/DistrhoPluginJack.cpp
source/modules/distrho/src/DistrhoPluginLADSPA+DSSI.cpp
source/modules/distrho/src/DistrhoPluginLV2.cpp
source/modules/distrho/src/DistrhoPluginLV2export.cpp
source/modules/distrho/src/DistrhoPluginVST.cpp
source/modules/distrho/src/DistrhoUIDSSI.cpp
source/modules/distrho/src/DistrhoUILV2.cpp

data/linux/*.gz
data/linux/*.tgz
data/linux/*.xz
data/linux/*.*/

data/macos/*.gz
data/macos/*.tgz
data/macos/*.*/
data/macos/Carla/

data/windows/python/
