# Hidden files
.directory
.fuse-*
.*.kate-swp
.libmagic-tmp
.kdev_include_paths
.kdev4/
.DS_Store

# Temp files
*~
*.bak
*.swp
*.swo

# Binary files
*.7z
*.a
*.o
*.dll
*.dll.def
*.dylib
*.exe
*.msi
*.so

# Binary dir
bin/styles/
build/

# Project files
*.carxp
*.carxs
*.pro.user

# C++ files
*.moc
moc_*.cpp
ui_*.h
resources.*.cpp
qrc_resources.cpp

# Python files
*.pyc
*_rc.py
ui_*.py

# Misc files
*.aria2
*.deb
*.meta4
*.tar
*.ttl
*.xz
*.zip

# PyQt widgets
source/canvaspreviewframe.py
source/carla_config.py
source/digitalpeakmeter.py
source/ledbutton.py
source/paramspinbox.py
source/pianoroll.py
source/pixmapbutton.py
source/pixmapdial.py
source/pixmapkeyboard.py
source/racklistwidget.py
source/widgets/carla_config.py

# Binaries
carla-bridge-qtcreator
carla-bridge-native
carla-bridge-posix32
carla-bridge-posix64
carla-bridge-lv2-cocoa
carla-bridge-lv2-external
carla-bridge-lv2-gtk2
carla-bridge-lv2-gtk3
carla-bridge-lv2-qt4
carla-bridge-lv2-qt5
carla-bridge-lv2-x11
carla-bridge-vst2-carbon
carla-bridge-vst2-cocoa
carla-bridge-vst2-x11

carla-discovery-qtcreator
carla-discovery-native
carla-discovery-posix32
carla-discovery-posix64

carla-frontend
carla-lv2-export

at1-ui
bls1-ui
rev1-ui
zynaddsubfx-ui

data/stoat-callgraph.png
data/linux/unzipfx2cat32
data/linux/unzipfx2cat64
data/macos/*-svn/
data/windows/Carla
data/windows/CarlaControl
data/windows/Carla-*-win32/
data/windows/Carla-*-win64/
source/bridges/jackplugin/libjack.so.0
source/frontend/Makefile
source/tests/ansi-pedantic-test_*
source/tests/CarlaRingBuffer
source/tests/CarlaPipeUtils
source/tests/CarlaString
source/tests/CarlaUtils1
source/tests/CarlaUtils2
source/tests/CarlaUtils3
source/tests/CarlaUtils4
source/tests/Exceptions
source/tests/Print
source/tests/RDF

source/tests/EngineEvents
source/tests/PipeServer
source/tests/RtLinkedList
source/tests/RtLinkedListGnu

# Docs
doc/CarlaBackend/
doc/CarlaBridge/
doc/DISTRHO/

# CX-Freeze builds
source/dist/

# QtCreator builds
*build-*Debug/
*build-*Release/

# python files in plugin resources dir
bin/resources/*.py
source/native-plugins/resources/*.py

# zynaddsubfx
source/native-plugins/zynaddsubfx/Output/
source/native-plugins/zynaddsubfx/Tests/
source/native-plugins/zynaddsubfx/UI/ADnoteUI.cpp
source/native-plugins/zynaddsubfx/UI/ADnoteUI.h
source/native-plugins/zynaddsubfx/UI/BankUI.cpp
source/native-plugins/zynaddsubfx/UI/BankUI.h
source/native-plugins/zynaddsubfx/UI/ConfigUI.cpp
source/native-plugins/zynaddsubfx/UI/ConfigUI.h
source/native-plugins/zynaddsubfx/UI/EffUI.cpp
source/native-plugins/zynaddsubfx/UI/EffUI.h
source/native-plugins/zynaddsubfx/UI/EnvelopeUI.cpp
source/native-plugins/zynaddsubfx/UI/EnvelopeUI.h
source/native-plugins/zynaddsubfx/UI/FilterUI.cpp
source/native-plugins/zynaddsubfx/UI/FilterUI.h
source/native-plugins/zynaddsubfx/UI/LFOUI.cpp
source/native-plugins/zynaddsubfx/UI/LFOUI.h
source/native-plugins/zynaddsubfx/UI/MasterUI.cpp
source/native-plugins/zynaddsubfx/UI/MasterUI.h
source/native-plugins/zynaddsubfx/UI/MicrotonalUI.cpp
source/native-plugins/zynaddsubfx/UI/MicrotonalUI.h
source/native-plugins/zynaddsubfx/UI/OscilGenUI.cpp
source/native-plugins/zynaddsubfx/UI/OscilGenUI.h
source/native-plugins/zynaddsubfx/UI/PADnoteUI.cpp
source/native-plugins/zynaddsubfx/UI/PADnoteUI.h
source/native-plugins/zynaddsubfx/UI/PartUI.cpp
source/native-plugins/zynaddsubfx/UI/PartUI.h
source/native-plugins/zynaddsubfx/UI/PresetsUI.cpp
source/native-plugins/zynaddsubfx/UI/PresetsUI.h
source/native-plugins/zynaddsubfx/UI/ResonanceUI.cpp
source/native-plugins/zynaddsubfx/UI/ResonanceUI.h
source/native-plugins/zynaddsubfx/UI/SUBnoteUI.cpp
source/native-plugins/zynaddsubfx/UI/SUBnoteUI.h
source/native-plugins/zynaddsubfx/UI/VirKeyboard.cpp
source/native-plugins/zynaddsubfx/UI/VirKeyboard.h

# Other
source/includes/asio/
source/includes/rewire/
source/includes/vst2
source/includes/vst3
source/includes/config.h

data/linux/*.gz
data/linux/*.tgz
data/linux/*.xz
data/linux/*.*/

data/macos/*.gz
data/macos/*.tgz
data/macos/*.*/
data/macos/Carla/

data/windows/python/
