language:
  - cpp

sudo: required
dist: trusty

matrix:
  include:
    # linux with default, builds native and bridges
    - os: linux
      compiler: gcc
      env:
        - TARGET="linux"

    # linux with macOS cross-compilation
    - os: linux
      compiler: gcc
      env:
        - TARGET="macos"

    # linux with win32 cross-compilation
    - os: linux
      compiler: gcc
      env:
        - TARGET="win32"

    # linux with win64 cross-compilation
    - os: linux
      compiler: gcc
      env:
        - TARGET="win64"

    # linux with gcc 8, strict build
    - os: linux
      compiler: gcc
      env:
        - TARGET="linux-strict"

    # linux with gcc 8, strict build, using juce
    - os: linux
      compiler: gcc
      env:
        - TARGET="linux-juce-strict"

before_install:
  - sh ${TRAVIS_BUILD_DIR}/.travis/before_install.sh

install:
  - sh ${TRAVIS_BUILD_DIR}/.travis/install.sh

script:
  - sh ${TRAVIS_BUILD_DIR}/.travis/script-${TARGET}.sh
