[Desktop Entry]
Name=Carla (JACK single client)
GenericName=Carla Plugin Host (JACK single-client mode)
Comment=Audio Plugin Host, in JACK single-client mode
Exec=carla-jack-single %u
Icon=carla
Terminal=false
Type=Application
Version=1.0
NoDisplay=true
X-NSM-Capable=true
X-NSM-Exec=carla-jack-single
