[Desktop Entry]
Name=Carla-Patchbay
GenericName=Carla Plugin Host (Internal Patchbay mode)
Comment=Audio Plugin Host, in internal Patchbay mode
Exec=carla-patchbay %u
Icon=carla
Terminal=false
Type=Application
Version=1.0
NoDisplay=true
X-NSM-Capable=true
X-NSM-Exec=carla-patchbay
