[Desktop Entry]
Name=Carla
GenericName=Carla
Comment=Multi-Plugin Audio Host
Exec=carla
Icon=carla
Terminal=false
Type=Application
Categories=AudioVideo;AudioEditing;Qt;
