[Desktop Entry]
Name=Carla
GenericName=Carla Plugin Host
GenericName[fr]=Hôte de greffon Carla
Comment=Audio Plugin Host
Comment[fr]=Hôte de greffon audio
Exec=carla %u
Icon=carla
Terminal=false
Type=Application
Categories=AudioVideo;X-AudioEditing;Qt;
MimeType=application/x-carla-project;
Version=1.0
X-NSM-capable=true
